<app-title></app-title>
<div class="bg">
  <img style="width: 100%; height: 100%" src="assets/background.png" alt="" />
</div>
<div>
  <app-unit
    [assets]="assets"
    [health]="health1"
    [myAssets]="player1Assets"
    [human]="true"
    [select]="select"
    [height]="400"
    [damage]="damageScore1"
    [playing]="humanPlaying"
    [tryAssets]="tryAssets2"
  ></app-unit>

  <div style="position: absolute; right: 800px">
    <app-unit
      [assets]="assets"
      [health]="health2"
      [damage]="damageScore2"
      [playing]="!humanPlaying"
      [myAssets]="player2Assets"
      [tryAssets]="tryAssets"
      [select]="select2"
      [height]="500"
      name="laffa-master"
    ></app-unit>
  </div>
  <!-- <img height="600" style="right: 100px" src="assets/laffa-master.png" alt="" /> -->
</div>
